{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<div class="content post__content clearfix">
    {{ range (.Site.RegularPages.GroupByDate "2006") }}
      <h3>{{ .Key }}</h3>
      <ul class="archive-list">
          {{ range (where .Pages "Type" "post") }}
              <li>
                  {{ .PublishDate.Format "01-02" }}
                  -
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </li>
          {{ end }}
      </ul>
    {{ end }}
    </div>
  </article>
</main>
{{ end }}
