{{ if and .Site.DisqusShortname (index .Params "comments" | default "true") (not .Site.IsServer) }}
<section class="comments">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/disqusjs@1.2/dist/disqusjs.css">
  <script src="https://cdn.jsdelivr.net/npm/disqusjs@1.2/dist/disqus.js"></script>
  <div id="disqus_thread"></div>
  <script>
  function loadDisqus() {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ .Site.DisqusShortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    DisqusJS({
        shortname: '{{ .Site.DisqusShortname }}',
        api: 'https://disqus.skk.moe/disqus/',
        apikey: '94HuLWWDYeYGNRPmsk1KQVgmxsEKr6EYhRtJhcAQK9ucN8KyFRzuP9DunMzHuxLp',
        admin: 'chenzhiwei'
    });
  }
  var runningOnBrowser = typeof window !== "undefined";
  var isBot = runningOnBrowser && !("onscroll" in window) || typeof navigator !== "undefined" && /(gle|ing|ro|msn)bot|crawl|spider|yand|duckgo/i.test(navigator.userAgent);
  var supportsIntersectionObserver = runningOnBrowser && "IntersectionObserver" in window;

  setTimeout(function () {
    if (!isBot && supportsIntersectionObserver) {
      var disqus_observer = new IntersectionObserver(function(entries) {
        if (entries[0].isIntersecting) {
          loadDisqus();
          disqus_observer.disconnect();
        }
      }, { threshold: [0] });
      disqus_observer.observe(document.getElementById('disqus_thread'));
    } else {
      loadDisqus();
    }
  }, 1);
  </script>
</section>
{{ end }}
